html
  body
    input(id='ask')
    input(type='button',onclick='ask()')
    div
      a(href='http://prose.io/#lvtao1986/code/tree/master/base') 编辑
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io();
      socket.on('display', function(data){
        eval(data);
      });
      function ask(){
        var askString = document.getElementById('ask').value;
        if(askString!=null && askString != ''){
         alert(askString); socket.emit("ask",askString);
        }
      }
