html
  body
    input(id='ask')
    button(type='button',onClick='ask()')
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io();
      socket.on('display', function(data){
        eval(data);
      });
      function ask(){
        var askString = document.getElementById('ask').value;
        if(askString!=null && askString != ''){
          socket.emit("ask",askString);
        }
      }
